{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    <h1 style="margin: 30px;">Liste des permutations</h1>

    <div id="table_div" style="width: 95%; margin: auto;">
        <table id="permutations_table">
            <thead>
            <tr>
                <th>Etudiant</th>
                <th>Specialité actuelle</th>
                <th></th>
                <th>Destination</th>
                <th>Ajoutée le</th>
                <th><i class="fa fa-phone"></i> Téléphone</th>
                <th><i class="fa fa-mail-forward"></i> Email</th>
            </tr>
            </thead>
            <tbody>
            {% for permutation in permutations %}
                <tr>
                    <td>{{ permutation.user.lastname ~ " " ~ permutation.user.firstname }}</td>
                    <td>{{ permutation.user.specialite }}</td>
                    <td><i class="fa fa-arrow-right"></i></td>
                    <td>{{ permutation.target }}</td>
                    <td>{% if permutation.date %}{{ permutation.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if permutation.user.phone is defined %} {{ permutation.user.phone }} {% endif %}</td>
                    <td><a href="mailto:{{ permutation.user.email }}">{{ permutation.user.email }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <ul>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            +
        </button>
    </ul>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nouvelle Permutation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Confirmer</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/Datatables/datatables.min.js') }}"></script>
    <script language="JavaScript">
        $(document).ready( function () {
            $('#permutations_table').DataTable();
        } );
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/Datatables/datatables.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/font-awesome/css/font-awesome.min.css') }}"/>
    <link href="{{ asset('assets/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
{% endblock %}