{% extends 'base.html.twig' %}
{% block title %} Permutations entre spécialités {% endblock %}
{% block body %}
    <h1 style="margin: 30px;">Liste des permutations</h1>
    {% if error|length > 0 %}
        <div style="margin-left: 30px;margin-right: 30px;" class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}
    <div id="table_div" style="width: 95%; margin: auto;">
        <table id="permutations_table">
            <thead>
            <tr>
                <th>Etudiant</th>
                <th>Specialité actuelle</th>
                <th></th>
                <th>Destination</th>
                <th>Ajoutée le</th>
                <th><i class="fa fa-phone"></i> Téléphone</th>
                <th><i class="fa fa-mail-forward"></i> Email</th>
            </tr>
            </thead>
            <tbody>
            {% for permutation in permutations %}
                <tr>
                    <td>{{ permutation.user.lastname ~ " " ~ permutation.user.firstname }}</td>
                    <td>{{ permutation.user.specialite }}</td>
                    <td><i class="fa fa-arrow-right"></i></td>
                    <td>{{ permutation.target }}</td>
                    <td>{% if permutation.date %}{{ permutation.date|date('Y-m-d H:i') }}{% endif %}</td>
                    <td>{% if permutation.user.phone is defined %} {{ permutation.user.phone }} {% endif %}</td>
                    <td><a href="mailto:{{ permutation.user.email }}">{{ permutation.user.email }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <ul>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            +
        </button>
    </ul>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nouvelle Permutation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ path('permutation_new') }}" method="post">
                    <div class="modal-body">
                        <select name="target" class="form-control">
                            <option value="GL">GL</option>
                            <option value="INFINI">INFINI</option>
                            <option value="DS">DS</option>
                            <option value="ISEM">ISEM</option>
                            <option value="SLEAM">SLEAM</option>
                            <option value="INFO B">INFO B</option>
                            <option value="NIDS">NIDS</option>
                            <option value="SIM">SIM</option>
                            <option value="ARCTIC (Cloud)">ARCTIC (Cloud)</option>
                            <option value="IRT">IRT</option>
                            <option value="TWIN">TWIN</option>
                            <option value="ERP/BI">ERP/BI</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Confirmer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/Datatables/datatables.min.js') }}"></script>
    <script language="JavaScript">
        $(document).ready(function () {
            $('#permutations_table').DataTable({
                "language": {
                    "search": "Spécialité de destination :"
                },
                "aoColumns":
                    [
                        {"bSearchable": false},
                        {"bSearchable": false},
                        {"bSearchable": false},
                        {"bSearchable": true},
                        {"bSearchable": false},
                        {"bSearchable": false},
                        {"bSearchable": false}
                    ]
            });
        });

    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/Datatables/datatables.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/font-awesome/css/font-awesome.min.css') }}"/>
    <link href="{{ asset('assets/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
{% endblock %}