<!doctype html>
<html lang="en">
<head>
    <title>Esprit Entraide - {% block title %} Accueil {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ asset('assets/favicon.png') }}">
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/base.css') }}" rel="stylesheet">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-8730686316513863",
    enable_page_level_ads: true
  });
</script>
    {% block stylesheets %}
    {% endblock %}
</head>

<body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Esprit Entraide</a>
        </div>
        <ul class="nav navbar-nav">
            <li ><a style="color:white;" href="{{ path('index') }}">Accueil</a></li>
            <li class="dropdown">
                <a style="color:white;" class="dropdown-toggle" data-toggle="dropdown" href="#">Permutations
                    <!--<span class="caret"></span>--></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('permutation_index') }}">Permutation entre spécialités</a></li>
                    <li><a>Permutation entre classes (Coming Soon)</a></li>
                </ul>
            </li>
            <li ><a style="color:white;" class="collocation" id="cl">Collocation</a></li>
            <li ><a style="color:white;" class="collocation" id="op">Objets perdus</a></li>
        </ul>
        <ul style="float: right" class="nav navbar-nav ml-auto">
            {% if is_granted("ROLE_USER") %}
                <li style="float: right"><a href="{{ path('fos_user_security_logout') }}"><strong> Déconnexion</strong></a></li>
                <li style="float: right;"><a style="color:white; "><strong>Bonjour </strong> {{ app.user.firstname }} !</a></li>
            {% else %}
                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary navbar-btn">Connexion/Inscription</a>
            {% endif %}
        </ul>
    </div>
</nav>

{% block body %}{% endblock %}

<script src="{{ asset('assets/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('assets/js/popover.js') }}"></script>
<script src="{{ asset('assets/bootstrap/js/bootstrap.js') }}"></script>
<script src="{{ asset('assets/js/holder.min.js') }}"></script>
<script>
    Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
    });
</script>
<script language="JavaScript">
    $('#cl').hover(function () {
        if($('#cl').html() === '<strong>Coming Soon !</strong>'){
            $('#cl').html('Collocation');
            $('#cl').css('color','white');
        }
        else{
            $('#cl').html('<strong>Coming Soon !</strong>');
            $('#cl').css('color','gold');
        }
    });
    $('#op').hover(function () {
        if($('#op').html() === '<strong>Coming Soon !</strong>'){
            $('#op').html('Objets perdus');
            $('#op').css('color','white');
        }
        else{
            $('#op').html('<strong>Coming Soon !</strong>');
            $('#op').css('color','gold');
        }
    });
</script>
{% block javascripts %}{% endblock %}
</body>
</html>