<!DOCTYPE html>

<head>
    <!-- Basic Page Needs
    ================================================== -->
    <title>Esprit Entraide</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/colors/main.css') }}">
    {% block stylesheets %}{% endblock %}
</head>

<body>
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header Container
    ================================================== -->
    <header id="header-container">

        <!-- Header -->
        <div id="header">
            <div class="container">

                <!-- Left Side Content -->
                <div class="left-side">

                    <!-- Logo -->
                    <div id="logo">
                        <a href="index.html"><img src="{{ asset('assets/images/logo.png') }}" alt=""></a>
                    </div>

                    <!-- Mobile Navigation -->
                    <div class="mmenu-trigger">
                        <button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
                        </button>
                    </div>

                    <!-- Main Navigation -->
                    <nav id="navigation" class="style-1">
                        <ul id="responsive">

                            <li><a class="current--" href="{{ path('index') }}">Accueil</a></li>

                            <li><a href="#">Permutations</a>
                                <ul>
                                    <li><a href="#">Entre spécialités</a></li>
                                    <li><a href="#">Entre classes</a></li>
                                </ul>
                            </li>

                            <li><a href="#">Colocations</a>
                                <ul>
                                    <li><a href="#">Offres</a></li>
                                    <li><a href="#">Demandes</a></li>
                                </ul>
                            </li>

                            <li><a href="#">Objets</a>
                                <ul>
                                    <li><a href="#">Offres</a></li>
                                    <li><a href="#">Demandes</a></li>
                                </ul>
                            </li>

                            <li><a href="#">Covoiturages</a>
                                <ul>
                                    <li><a href="#">Offres</a></li>
                                    <li><a href="#">Demandes</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div class="clearfix"></div>
                    <!-- Main Navigation / End -->

                </div>
                <!-- Left Side Content / End -->


                <!-- Right Side Content / End -->
                <div class="right-side">
                    <div class="header-widget">
                        {% if not is_granted("ROLE_USER") %}
                            <a href="#sign-in-dialog" class="sign-in popup-with-zoom-anim"><i class="sl sl-icon-lock-open"></i> Connexion</a>
                        {% else %}
                            <a class="sign-in" href="{{ path('fos_user_profile_show') }}"><strong>{{ app.user.firstname }}</strong></a> <a class="sign-in">|</a> <a class="sign-in" href="{{ path('fos_user_security_logout') }}"><i class="sl sl-icon-logout"></i></a>
                        {% endif %}
                        <!--<a href="dashboard-add-listing.html" class="button border with-icon">Add Listing <i class="sl sl-icon-plus"></i></a>-->
                    </div>
                </div>
                <!-- Right Side Content / End -->

                <!-- Sign In Popup -->
                {% if not is_granted("ROLE_USER") %}
                    <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">

                        <div class="small-dialog-header">
                            <h3>Sign In</h3>
                        </div>

                        <!--Tabs -->
                        <div class="sign-in-form style-1">

                            <ul id="typical_tabs_nav" class="tabs-nav">
                                <li class=""><a href="#tab1">Connexion</a></li>
                                <li><a href="#tab2">Inscription</a></li>
                            </ul>

                            <div class="tabs-container alt">

                                <!-- Login -->
                                <div class="tab-content" id="tab1" style="display: none;">
                                    {{ include('@FOSUser/Security/login_content.html.twig') }}
                                </div>

                                <!-- Register -->
                                <div class="tab-content" id="tab2" style="display: none;">
                                    {{ render(controller('AppBundle:Default:register',{'request' : app.request})) }}
                                </div>

                            </div>
                        </div>
                    </div>
                {% endif %}
                <!-- Sign In Popup / End -->

            </div>
        </div>
        <!-- Header / End -->

    </header>
    <div class="clearfix"></div>
    <!-- Header Container / End -->

    {% block body %}{% endblock %}

    <!-- Footer
    ================================================== -->
    <div id="footer" class="dark">
        <!-- Main -->
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6">
                    <img class="footer-logo" src="{{ asset('assets/images/logo2.png') }}" alt="">
                    <br><br>
                    <p>Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</p>
                </div>

                <div class="col-md-4 col-sm-6 ">
                    <h4>Helpful Links</h4>
                    <ul class="footer-links">
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Sign Up</a></li>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Add Listing</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>

                    <ul class="footer-links">
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Our Partners</a></li>
                        <li><a href="#">How It Works</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="col-md-3  col-sm-12">
                    <h4>Contact Us</h4>
                    <div class="text-widget">
                        <span>12345 Little Lonsdale St, Melbourne</span> <br>
                        Phone: <span>(123) 123-456 </span><br>
                        E-Mail:<span> <a href="#">office@example.com</a> </span><br>
                    </div>

                    <ul class="social-icons margin-top-20">
                        <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                        <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                        <li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
                    </ul>

                </div>

            </div>

            <!-- Copyright -->
            <div class="row">
                <div class="col-md-12">
                    <div class="copyrights">© 2017 Listeo. All Rights Reserved.</div>
                </div>
            </div>

        </div>

    </div>
    <!-- Footer / End -->

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

</div>
<!-- Wrapper / End -->



<!-- Scripts
================================================== -->
<script type="text/javascript" src="{{ asset('assets/scripts/jquery-2.2.0.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('assets/scripts/mmenu.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('assets/scripts/chosen.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('assets/scripts/slick.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('assets/scripts/rangeslider.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('assets/scripts/magnific-popup.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('assets/scripts/waypoints.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('assets/scripts/counterup.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('assets/scripts/jquery-ui.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('assets/scripts/tooltips.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('assets/scripts/custom.js')}}"></script>
{% block javascripts %}{% endblock %}
</body>