<!DOCTYPE html>
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>Objets perdus - Esprit Entraide</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/colors/main.css') }}" id="colors">

</head>

<body>

<!-- Wrapper -->
<div id="wrapper">


    <!-- Content
    ================================================== -->

    <!-- Coming Soon Page -->
    <div class="coming-soon-page" style="background-image: url({{ asset('assets/images/main-search-background-01.jpg') }})">
        <div class="container">
            <!-- Search -->
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <img src="{{ asset('assets/images/logo2.png') }}" alt="">

                    <h3>Cette fonctionnalité sera disponible prochainement.</h3>

                    <!-- Countdown -->
                    <div id="countdown" class="margin-top-10 margin-bottom-35"></div>
                    <!-- Countdown / End -->

                    <br>

                </div>
            </div>
            <!-- Search Section / End -->
        </div>
    </div>
    <!-- Coming Soon Page / End -->

</div>
<!-- Wrapper / End -->



<!-- Scripts
================================================== -->
<script type="text/javascript" src="{{ asset('assets/scripts/jquery-2.2.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/scripts/mmenu.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/scripts/chosen.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/scripts/slick.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/scripts/rangeslider.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/scripts/magnific-popup.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/scripts/waypoints.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/scripts/counterup.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/scripts/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/scripts/tooltips.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/scripts/custom.js') }}"></script>

<!-- Countdown Script -->
<script type="text/javascript" src="{{ asset('assets/scripts/jquery.countdown.min.js') }}"></script>
<script type="text/javascript">
    $("#countdown")
        .countdown('2018/11/01', function(event) {
            var $this = $(this).html(event.strftime(''
                + '<div><span>%D</span>  <i>Jours</i></div>'
                + '<div><span>%H</span> <i>Heures</i></div> '
                + '<div><span>%M</span> <i>Minutes</i></div> '
                + '<div><span>%S</span> <i>Secondes</i></div>'
            ));
        });
</script>


</body>
</html>