{% extends 'base.html.twig' %}
{% block title %} Permutations entre spécialités {% endblock %}
{% block body %}
    <div class="container">
        <h1 style="margin: 30px;">Liste des permutations</h1>
        {% for message in app.session.flashBag.get('error') %}
            <div class="notification error closeable">
                {{ message }}
            </div>
        {% endfor %}
        <div id="table_div" style="width: 95%; margin: auto;">
            <table class="basic-table" id="permutations_table">
                <thead>
                <tr>
                    <th>Etudiant</th>
                    <th>Classe depart</th>
                    <th></th>
                    <th>Classe destination</th>
                    <th>Ajoutée le</th>
                    <th><i class="fa fa-phone"></i> Téléphone</th>
                    <th><i class="fa fa-mail-forward"></i> Email</th>
                </tr>
                </thead>
                <tbody>
                {% for permutation in permutation_Classes %}
                    <tr>
                        {% if app.user.id == permutation.user.id %}
                            <td><a href="{{ path('fos_user_profile_show') }}">{{ permutation.user.lastname ~ " " ~ permutation.user.firstname }}</a></td>
                        {% else %}
                            <td><a href="{{ path('user_profile',{ 'id' : permutation.user.id }) }}">{{ permutation.user.lastname ~ " " ~ permutation.user.firstname }}</a></td>
                        {% endif %}
                        <td>{{ permutation.user.classe }}</td>
                        <td><i class="fa fa-arrow-right"></i></td>
                        <td>{{ permutation.classe }}</td>
                        <td>{% if permutation.date %}{{ permutation.date|date('d F Y H:i') }}{% endif %}</td>
                        <td>{% if permutation.user.phone is defined %} {{ permutation.user.phone }} {% endif %}</td>
                        <td><a href="mailto:{{ permutation.user.email }}">{{ permutation.user.email }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <ul>
            <a href="#sign-in-dialog" class="button sign-in popup-with-zoom-anim">
                +
            </a>
        </ul>

        <!-- Modal -->
        <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
            <div class="small-dialog-header">
                <h3>Nouvelle Permutation</h3>
            </div>
            <div class="sign-in-form style-1">
                <form class="login" action="{{ path('permutation_classes_new') }}" method="post">
                    <label>Votre classe actuelle: {{ app.user.classe }}</label> <input name="destination" type="text">
                    <br>
                    <button type="submit" class="button border margin-top-10 float-right">Confirmer</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/Datatables/datatables.js') }}"></script>
    <script language="JavaScript">
        $(document).ready(function () {
            $('#permutations_table').DataTable({
                "language": {
                    "search": "Classe de destination :"
                },
                "aoColumns":
                    [
                        {"bSearchable": false},
                        {"bSearchable": false},
                        {"bSearchable": false},
                        {"bSearchable": true},
                        {"bSearchable": false},
                        {"bSearchable": false},
                        {"bSearchable": false}
                    ]
            });
        });

    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/Datatables/datatables.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/icons.css') }}"/>
{% endblock %}