{% extends 'base.html.twig' %}

{% block title %}
    {% if user.id == app.user.id %} Mon profil
    {% else %} {{ user.firstname~" "~user.lastname }}
    {% endif %}
{% endblock %}

{% block body %}
    <!-- Titlebar
    ================================================== -->
    <div id="titlebar" class="gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div style="margin-top: -95px;" class="user-profile-titlebar">
                        {% if user.id is same as(app.user.id) %}
                            <input type="file" hidden id="imgupload" name="imgupload">
                            <figure style="top: 95px;" class="imghvr-fade">
                                <img style="height: 110px; width: 110px;" id="user-img" src="{{ asset('assets/images/users_pics/' ~ user.picture) }}" alt="">
                                <figcaption id="OpenImgUpload" style="padding-left: 43%; padding-top: 43%; cursor:pointer;">
                                    <div><i class="fa fa-upload"></i></div>
                                </figcaption>
                            </figure>
                        {% else %}
                            <img class="user-profile-avatar" src="{{ asset('assets/images/users_pics/' ~ user.picture) }}" alt="">
                        {% endif %}
                        <div class="user-profile-name list-inline">
                            <li class="list-inline-item"><h1 style="font-weight: bolder;">{{ user.firstname~" "~user.lastname }}</h1></li>
                            <li class="list-inline-item"><h4>({{ user.classe }})</h4></li>
                        </div>
                        {% if user.email is same as(app.user.email)  %}
                            <div class="user-profile-name">
                                <a href="{{ path('fos_user_profile_edit') }}" class="button"><i class="fa fa-pencil"></i> Modifier</a>
                                <a href="{{ path('fos_user_change_password') }}" class="button"><i class="fa fa-lock"></i> Changer le mot de passe</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Content
    ================================================== -->
    <div class="container">
        <div class="row sticky-wrapper">


            <!-- Sidebar
            ================================================== -->
            <div class="col-lg-4 col-md-4 margin-top-0">
                <!-- Contact -->
                <div class="boxed-widget margin-top-30 margin-bottom-50">
                    <h3>Coordonnées</h3>
                    <ul class="listing-details-sidebar">
                        <li><i class="sl sl-icon-phone"></i> {{ user.phone }}
                            {% if user.email is same as(app.user.email) %}
                                <a title="Afficher ou masquer mon numéro au public." id="show-hide-phone" href="#"><i id="eye-container" class="sl sl-icon-eye" style="{% if prefs.phonenumbervisible %} color: rgb(0, 128, 0); {% else %} color: rgb(139, 0, 0); {% endif %} font-weight:bolder; margin-left: 90%;"></i></a>
                            {% endif %}
                        </li>
                        <li><i class="fa fa-envelope-o"></i> <a href="#"> {{ user.email }}</a></li>
                        {% if user.registrationdate|date("Y") >= 2018 %}
                            <li><i class="fa fa-calendar"></i> Membre depuis : {{ user.registrationdate|date("d F Y") }}</li>
                        {% endif %}
                    </ul>

                    <ul class="listing-details-sidebar social-profiles">
                        {% if false %}
                            <li><a href="#" class="facebook-profile"><i class="fa fa-facebook-square"></i> Facebook</a></li>
                        {% endif %}
                    </ul>
                </div>
                <!-- Contact / End-->

            </div>
            <!-- Sidebar / End -->


            <!-- Content
            ================================================== -->
            <div class="col-lg-8 col-md-8 padding-left-30">

                <div class="style-1">

                    <!-- Tabs Navigation -->
                    <ul id="typical_tabs_nav" class="tabs-nav">
                        <li class="active"><a href="#tab1b"><i class="fa fa-home"></i>Colocations</a></li>
                        <li><a href="#tab2b"><i class="fa fa-car"></i>Covoiturages</a></li>
                    </ul>

                    <!-- Tabs Content -->
                    <div class="tabs-container">
                        <div class="tab-content" id="tab1b">
                            {% if colocs|length == 0 %}
                                <div class="row" style="margin-bottom: 100px;">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-8">
                                        <div align="center" style="margin-top:30px;">
                                            <center><h1 align="center" class="fa fa-frown-o" style="font-size:1500%;color:lightgray;"></h1></center>
                                            <div style="margin-top: 40px;text-align: center">
                                                <span style="color:lightgray;font-size: 35px;margin-top: 50px;font-weight: normal">Désolé, aucune colocation n'est disponible.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">

                                    </div>
                                </div>
                            {% else %}
                                {% for c in colocs %}
                                    <div class="listing-item-container list-layout">
                                        <a href="{{ path('colocations_single',{ 'id' : c.id }) }}" class="listing-item">

                                            <!-- Image -->
                                            <div class="listing-item-image">
                                                {% if c.picture1 is not null and c.picture1|length > 0 %}
                                                    <img src="{{ asset('assets/images/colocs_pics/' ~ c.picture1) }}" alt="">
                                                {% else %}
                                                    <img src="{{ asset('assets/images/Unknown.png') }}" alt="">
                                                {% endif %}
                                                <span class="tag">{{ c.city }}</span>
                                            </div>

                                            <!-- Content -->
                                            <div class="listing-item-content">
                                                <div class="listing-badge now-open">{{ c.cost }} DT</div>

                                                <div class="listing-item-inner">
                                                    <h3>{{ c.title }}</h3>
                                                    <span style="width: 300px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">{{ c.description }}</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="tab-content" id="tab2b">
                            {% if covs|length == 0 %}
                                <div class="row" style="margin-bottom: 100px;">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-8">
                                        <div align="center" style="margin-top:30px;">
                                            <center><h1 align="center" class="fa fa-frown-o" style="font-size:1500%;color:lightgray;"></h1></center>
                                            <div style="margin-top: 40px;text-align: center">
                                                <span style="color:lightgray;font-size: 35px;margin-top: 50px;font-weight: normal">Désolé, aucun covoiturage n'est disponible.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">

                                    </div>
                                </div>
                            {% else %}
                                {% for covoiturage in covs %}
                                    <div class="col-md-12">
                                        <div href="#" class="listing-item-container compact">
                                            <div class="listing-item">
                                                <img src="{{ asset('assets/cov.jpg') }}" alt="">
                                                <div class="listing-badge now-open">{% if covoiturage.type==1 %} Quotidien {% else %} Simple {% endif %}</div>
                                                <div class="listing-item-details">
                                                    <ul>
                                                        <li>{{ covoiturage.date|date('F jS \\a\\t g:ia') }}</li>
                                                    </ul>
                                                </div>
                                                <div class="listing-item-content">
                                                    <h2 style="color: #fff;">{{ covoiturage.depart }}  <i class="fa fa-arrow-right"></i> {{ covoiturage.destination }} {% if covoiturage.fumeur==1 %} <img src="{{ asset('assets/smoking.png') }}" style=" width: 30px; margin-left: 5px"> {% else %} <img src="{{ asset('assets/no-smoking.png') }}" style=" width: 30px; margin-left: 5px"> {% endif %}</h2>
                                                    <span style="font-weight: bold;">Contact: <a style="font-weight: bold; color: snow;" href="{% if covoiturage.user.id == app.user.id %} {{ path('fos_user_profile_show') }} {% else %} {{ path('user_profile',{ 'id' : covoiturage.user.id }) }} {% endif %}">{{ covoiturage.user.phone ~ " - " ~ covoiturage.user.username }}</a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script language="JavaScript">
        $('#show-hide-phone').click(function (event) {
            event.preventDefault();
            $.ajax({
                url:    "{{ path('show_hide_phone') }}",
                method: "post"
            }).done(function (data) {
                if(data.success === true){
                    if($('#eye-container').css('color') == 'rgb(0, 128, 0)') $('#eye-container').css('color','darkred');
                    else $('#eye-container').css('color','green');
                }
            });
        });
        {% if user.email is same as(app.user.email) %}
            $('#OpenImgUpload').click(function () {
                $('#imgupload').trigger('click');
            });
            $('#imgupload').on('change', function (e) {
                var data = new FormData();
                $.each($('#imgupload')[0].files, function (i, file) {
                    data.append('file-' + i, file);
                });
                $.ajax({
                    url: "{{ path('change_user_photo') }}",
                    type: "post",
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        if (data.success === true) {
                            $('#user-img').attr('src', data.url);
                        }
                    }
                });
            });
        {% endif %}
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/imagehover.css') }}">
{% endblock %}