{% extends 'base.html.twig' %}

{% block title %} Covoiturages {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">


            <div class="col-md-12">

                <!-- Sorting - Filtering Section -->
                <div class="row margin-bottom-25 margin-top-30">

                    <div class="col-md-8">
                            <a class="button medium border sign-in popup-with-zoom-anim" href="#sign-in-dialog">Proposer un trajet</a>
                    </div>


                    <div class="col-md-4">
                        <form method="get" action="{{ path('covoiturage_index') }}">
                            <input type="text" name="lieu" placeholder="Lieu">
                        </form>
                    </div>



                </div>

                <!-- Sorting - Filtering Section / End -->


                <div class="row">
                    {% if covoiturages|length == 0 %}
                        <div class="row" style="margin-bottom: 100px;">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-8">
                                <div align="center" style="margin-top:30px;">
                                    <center><h1 align="center" class="fa fa-frown-o" style="font-size:1500%;color:lightgray;"></h1></center>
                                    <div style="margin-top: 40px;text-align: center">
                                        <span style="color:lightgray;font-size: 35px;margin-top: 50px;font-weight: normal">Désolé, aucun covoiturage n'est disponible.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">

                            </div>
                        </div>
                    {% else %}
                        {% for covoiturage in covoiturages %}
                            <div class="col-md-12">
                                <div align="center" class="col-md-2" style="padding-top: 20px;padding-left: 50px">
                                    <a href="{% if covoiturage.user.id == app.user.id %} {{ path('fos_user_profile_show') }} {% else %} {{ path('user_profile',{ 'id' : covoiturage.user.id }) }} {% endif %}">
                                        <img style="height: 110px; width: 110px;" id="user-img" src="{{ asset('assets/images/users_pics/' ~ covoiturage.user.picture) }}" alt=""><br>
                                        <div><h5  align="center">{{ covoiturage.user.firstname~" "~covoiturage.user.lastname }}</h5></div>
                                    </a>
                                </div>
                                <div class="col-md-7">
                                    <div href="#" class="listing-item-container compact">
                                        <div class="listing-item">
                                            <img src="{{ asset('assets/cov.jpg') }}" alt="">
                                            <div class="listing-badge now-open">{% if covoiturage.type==1 %} Quotidien {% else %} Simple {% endif %}</div>
                                            <div class="listing-item-details">
                                                <ul>
                                                    <li>{{ covoiturage.date|date('F jS \\a\\t g:ia') }}</li>
                                                    <li>{% if covoiturage.fumeur==1 %} <img src="{{ asset('assets/smoking.png') }}" style=" width: 20px; margin-left: 5px"> {% else %} <img src="{{ asset('assets/no-smoking.png') }}" style=" width: 20px; margin-left: 5px"> {% endif %}</li>
                                                </ul>
                                            </div>
                                            <div style="top:70px;" class="listing-item-content">
                                                <h3 style="display:block; width: 400px;white-space: nowrap;color: #fff;overflow: hidden;text-overflow: ellipsis;" >{{ covoiturage.depart }}  <i class="fa fa-arrow-right"></i> {{ covoiturage.destination }} 
                                                </h3>
                                                <span style="font-weight: bold;">Contact: <a style="font-weight: bold; color: snow;" href="{% if covoiturage.user.id == app.user.id %} {{ path('fos_user_profile_show') }} {% else %} {{ path('user_profile',{ 'id' : covoiturage.user.id }) }} {% endif %}">{{ covoiturage.user.phone ~ " - " ~ covoiturage.user.username }}</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    {% if covoiturage.user.id == app.user.id %}
                                  <a style="position:relative;    margin-top:28%;margin-left: 20%;" href="{{ path('covoiturage_delete',{ 'id' : covoiturage.id }) }}" class="send-message-to-owner button"><i
                                                class="sl sl-icon-close"></i> Supprimer</a>
                                                {% endif %}
                                </div>
                            </div>
                            <hr>
                        {% endfor %}

                        {{ knp_pagination_render(covoiturages) }}
                        <!-- Pagination / End -->
                    {% endif %}
                    <!-- Modal -->
                    <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
                        <div class="small-dialog-header">
                            <h3>Nouveau Trajet</h3>
                        </div>
                        <div class="sign-in-form style-1">
                            <form  action="{{ path('covoiturage_new') }}" method="post">

                                <div class="col-md-12">

                                    <div class="col-md-5">
                                        <h4>Depart:</h4>
                                        <input name="depart" type="text" placeholder="" maxlength="15" required>
                                        <h4>Date:</h4><input name="date" type="text" id="booking-date" data-lang="fr" data-large-mode="true" data-large-default="true" data-min-year="2018" data-max-year="2020" data-lock="from">
                                        <h4>Type:</h4>
                                        <select name="type" class="chosen-select-no-single" >
                                            <option label="blank">Simple</option>
                                            <option>Quotidien</option>

                                        </select>

                                    </div>

                                    <div class="col-md-2">

                                    </div>

                                    <div class="col-md-5">
                                        <h4>Destination:</h4>
                                        <input name="destination" type="text" placeholder="" maxlength="15" required>
                                        <h4>Heure:</h4><input name="heure" type="time" required>
                                        <div class="checkboxes in-row margin-bottom-20" style="padding-top: 30px; padding-left: 5px">
                                            <input name="fumeur" id="check-a" type="checkbox" name="check" value="Fumeur">
                                            <label for="check-a" >Fumeur</label></div>

                                    </div>

                                </div>
                                <button type="submit" class="button border margin-top-10 float-right" style="margin-top: 40px;margin-left: 150px;">Confirmer</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
     <!-- Date Picker - docs: http://www.vasterad.com/docs/listeo/#!/date_picker -->
     <link href="{{ asset('assets/css/plugins/datedropper.css') }}" rel="stylesheet" type="text/css">
     <script src="{{ asset('assets/scripts/datedropper.js') }}"></script>
     <script>$('#booking-date').dateDropper();</script>


 {% endblock %}


